body {
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', "メイリオ", Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

.card{
    border:1px solid black;
}

.card-header{
    color: white;
    font-size:x-large;
}

.kokomuTable{
    width:100%;
}

.kokomuTable td {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}

.kokomuTable tr {
    height:40px;
}

.kokomuTable td input {
    width: 100%;
    height: 40px;
    padding: 0px;
    margin: 0px;
    border:none;
    padding-left:3px;
}

.kokomuTable td label {
    width: 100%;
    text-align:center;
    vertical-align:middle;
    margin:0px;
}

textarea {
    width: 100%;
    border: 2px solid black;
}

. /*tdarea{
    width:100%;
    height:50%;
   
}*/
.td1 {
    width: 15%;
}

.td2{
    width:35%;
}

.td3{
    width:15%;
}

.td4{
    width:35%;
}


.rowspace {
    border-collapse: separate;
    border-spacing: 0 20px;
}

/*.btn1 {
    background-color: red;
    width: 220px;
    height: 50px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border-bottom-color: blue;
}

.btn2 {
    background-color: green;
    width: 220px;
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    border-bottom-color: blue;
}

.btn3 {
    background-color: black;
    width: 220px;
    height: 50px;
    color: white;
    text-align: center;
    border-radius: 8px;
    border-bottom-color: blue;
}*/
.clsbtngroup {
    margin-top: 30px;    
}
.clsRedo, .clsConfirm, .clsInputKeyboard {
    width: 80%;
    height: 50px;
    text-align: center;
    border-radius: 8px;
    margin-left:25px;
    font-size: 16px;
    font-weight:bold;
    color: white;
}
.clsRedo {
    background-color: #d74715;
    border-bottom-color: #888690;
}
.clsConfirm {
    background-color: #417b27;
    border-bottom-color: #293756;
}
.clsInputKeyboard {
    background-color: #203045;
    border-bottom-color: #505f83;
}

label
{
    font-weight:bold;
}
