
.clsbtnSearch,
.clsbtnClear {
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.clsbtnClear {
    width: 100%;
    background-color: #d74715;    
}

.clsbtnSearch {
    width: 100%;
    background-color: #1b5696;
}

.row {
    margin-top: 5px;
}

.fake-input {
    position: relative;
    width: 100%;
}

.fake-input input {
   display: block;
   width: 100%;
   box-sizing: border-box
}

.fake-input img {
   position: absolute;
   top: 2px;
   right: 5px
}

.datepicker {
    top: 200px;
}
 #tblhotelguestlist td {
    vertical-align: middle;
}

#tblhotelguestlist td pre {
  display: inline;
  font-size: 1rem;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', "メイリオ", Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}

