
@{
    ViewBag.Title = "CardRegisterPage11";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <label>@HotelKoKoMu_CardRegister.Resources.Resources.Address1</label><br />
            <textarea id="txtAddress1" rows="4"></textarea>
        </div>
    </div>
    <div class="row clsbtngroup">
        <div class="col-md-4">
            <button class="clsRedo" id="btnRedo">@HotelKoKoMu_CardRegister.Resources.Resources.Redo</button>
        </div>
        <div class="col-md-4">
            <button class="clsConfirm" id="btnConfirm">@HotelKoKoMu_CardRegister.Resources.Resources.Confirm</button>
        </div>
        <div class="col-md-4">
            <button class="clsInputKeyboard" id="btnInputKeyboard">@HotelKoKoMu_CardRegister.Resources.Resources.Complete</button>
        </div>
    </div>
</div>

