
@{
    ViewBag.Title = "CardRegisterPage8";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <label>@HotelKoKoMu_CardRegister.Resources.Resources.PhoneNo</label><br />
            <canvas id="cvsPhoneNo"></canvas>
        </div>
    </div>
    <div class="row clsbtngroup">
        <div class="col-md-4 ">
            <button class="clsRedo" id="btnRedo">やり直し</button>
        </div>
        <div class="col-md-4">
            <button class="clsConfirm" id="btnConfirm">確   定</button>
        </div>
        <div class="col-md-4">
            <button class="clsInputKeyboard" id="btnInputKeyboard">キーボード入力</button>
        </div>
    </div>
</div>

