
@{
    ViewBag.Title = "CardRegisterPage9";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <label>電話番号</label><br />
            <textarea id="txtGuestName" rows="4"></textarea>
        </div>
    </div>
    <div class="row clsbtngroup">
        <div class="col-md-4 ">
            <button class="clsRedo" id="btnRedo">やり直し</button>
        </div>
        <div class="col-md-4">
            <button class="clsConfirm" id="btnConfirm">確定</button>
        </div>
        <div class="col-md-4">
            <button class="clsInputKeyboard" id="btnInputKeyboard">戻る</button>
        </div>
    </div>
</div>

