
@{
    ViewBag.Title = "CardRegisterPage22";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<table class="table-bordered kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>宿泊者名</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
            <td class="td1">
                <label>カナ名</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>郵便番号</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
            <td class="td1">
                <label>電話番号</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <label>住所</label>
            </td>
            <td colspan="3">
                <input type="text" />
            </td>


        </tr>
        <tr>
            <td colspan="3">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>勤務先</label>
            </td>
            <td colspan="3">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>国籍</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
            <td class="td1">
                <label>パスポート</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
        </tr>
    </tbody>
</table>

<table class="kokomuTable rowspace">
    <tbody>
        <tr>
            <td class="td1" style="border-right:hidden;">
                <label>到着日</label>
            </td>
            <td class="td2" style="border-right:hidden;">
                <input type="text" />
            </td>
            <td class="td1" style="border-right:hidden;">
                <label>出発日</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
        </tr>
    </tbody>
</table>
<table class="kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>署名</label>
            </td>

            <td colspan="3">
                <input type="text" />
            </td>

        </tr>
    </tbody>

</table>
<div class="col-md-4 offset-md-4">
    <button class="clsfinish" id="btnfinsih">完了</button>
</div>





