
@{
    ViewBag.Title = "CargRegisterPage1";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<table class="table-bordered kokomuTable">
    <tbody>
        <tr>
            <td class="td1">
                <label>宿泊者名</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
            <td class="td3">
                <label>カナ名</label>
            </td>
            <td class="td4">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td class="td1">
                <label>テスト１</label>
            </td>
            <td class="td2">
                <input type="text" />
            </td>
            <td class="td3">
                <label>テスト２</label>
            </td>
            <td class="td4">
                <input type="text" />
            </td>
        </tr>
    </tbody>
</table>





