
@{
    ViewBag.Title = "CargRegisterPage2";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<table class="table-bordered kokomuTable">
    <tbody>

        <tr>
            <td>
                <input type="text" />
            </td>
        </tr>

    </tbody>
</table>

<div>
    <div class="row" style="border:none;">
        <input type="button" class="btn1" style="padding-right:50%;" name="やり直し" value="やり直し" />
        <input type="button" class="btn2" style="padding-right:50%;" name="確定" value="確定" />
        <input type="button" class="btn3" name="キーボード入力" value="キーボード入力" />
    </div>
</div>



