<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Global.css")" />
</head>
<body>
    <div class="container" style="margin-top:10px;">
        <div class="card">
            <h5 class="card-header text-center" style="  background-color: #143d8b"> ホテル　ユーコム</h5>
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
