
@{
    ViewBag.Title = "HotelLogin";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .divLogin {
        margin-top: 200px;
        border: 1px solid #808080;
        border-radius: 5px;
    }

    table {
        width: 100%;
    }
</style>

<div class="divLogin col-md-4 offset-md-4">
    <div class="container">
        <table>
            <tr>
                <th>
                    <label>ホテル番号</label>
                </th>
                <td>
                    <input type="text" id="HotelNo" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label>ユーザーID</label>
                </th>
                <td>
                    <input type="text" id="UserID" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label>パスワード</label>
                </th>
                <td>
                    <input type="password" id="Password" required>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btnlogin" id="btnlogin">ログイン</button>
                </td>
            </tr>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#btnlogin").click(function () {
                var response = CalltoApiController('@Url.Action("checkLogin", "api/HotelAPI/")', { HotelCode: $("#HotelNo").val(), UserCode: $("#UserID").val(), Password: $("#Password").val() });
                if (response["Result"] == 0)
                    ShowAlert("error","", "ホテルコードが間違っています.");
                else if (response["Result"] == 1)
                    ShowAlert("error","","ユーザーコードが間違っています.")
                else if (response["Result"] == 2)
                    ShowAlert("error","","パスワードが間違っています.");
                else {
                    var resultObj = response["Result"];
                    var LoginInfo = resultObj[0].hotel_code + '_' + resultObj[0].usercode + '_' + resultObj[0].username;
                    $.post('@Url.Action("CreateSession", "Hotel")',
                        { key: "HotelLoginInfo", value: LoginInfo }, function (data) {

                            location.href = '@Url.Action("HotelGuestList", "Hotel")';
                        });
                }
            });
        });
    </script>
}
