
@{
    ViewBag.Title = "Test";
}
<style>
    /*.kokomuTable td {
        text-align: center;
        padding: 0px;
        margin: 0px;
        border: 2px solid black;
    }
        .kokomuTable td label {
            width: 100%;*/
         /*   margin:unset;*/
            /*line-height: 2px;*/
          /*  padding: 0px;*/
            /*display:inline-block;
        }*/

</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>   
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/html2canvas.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>*@
</head>
<body>
    <div id="divkokomuTable" style="background-color: white;">
        <table class="kokomuTable">
            <tbody>
                <tr>
            <td class="td1">
                <label>Guest Name</label>
            </td>
            <td class="td2" id="tdGuestName">Ohnmar Kyi</td>
            <td class="td1">
                <label>KanaName</label>
            </td>
            <td class="td2" id="tdKanaName">Ohnmar Kyi</td>
        </tr>
                @*<tr>
                    <td class="td1">
                        Guest Name
                    </td>
                    <td class="td2" id="tdGuestName">Ohnmar Kyi</td>
                    <td class="td1">
                        KanaName
                    </td>
                    <td class="td2" id="tdKanaName">Ohnmar Kyi</td>
                </tr>*@
                <tr>
                    <td class="td1">
                        <label>ZipCode</label>
                    </td>
                    <td class="td2" id="tdZipCode">
                        <label>11111</label>
                    </td>
                    <td class="td1">
                        <label>Tel</label>
                    </td>
                    <td class="td2" id="tdTel">09787750235</td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <label>Address</label>
                    </td>
                    <td colspan="3" id="tdAddress1">Lanmadaw</td>
                </tr>
                <tr>
                    <td colspan="3" id="tdAddress2"></td>
                </tr>
                <tr>
                    <td class="td1">
                        <label>Company</label>
                    </td>
                    <td colspan="3" id="tdCompany">CKM</td>
                </tr>
                <tr>
                    <td class="td1">
                        <label>Nationality</label>
                    </td>
                    <td class="td2" id="tdNationality">Myanmar</td>
                    <td class="td1">
                        <label>Passport</label>
                    </td>
                    <td class="td2" id="tdPassport">1111</td>
                </tr>
                <tr>
                    <td class="td1">
                        <label>ArrivalDate</label>
                    </td>
                    <td class="td2" id="tdArrivalDate"></td>
                    <td class="td1">
                        <label>DepartureDate</label> 
                    </td>
                    <td class="td2" id="tdDepartureDate"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <a id="btn-Convert-Html2Image" href="#">Download</a>
    <br />
    <div id="previewImage" style="display: none;">
    </div>

    <script>
        $(document).ready(function () {
            var element = $("#divkokomuTable"); // global variable
            var getCanvas; // global variable

            html2canvas(element, {
                onrendered: function (canvas) {
                    $("#previewImage").append(canvas);
                    getCanvas = canvas;
                }
            });

            $("#btn-Convert-Html2Image").on('click', function () {
                var imgageData = getCanvas.toDataURL("image/png");
                var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
                $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
            });
        });

    </script>
</body>
</html>
