
@{
    ViewBag.Title = "Test";
   
}

<style>
    td {
        height: 45px;
        text-align: center;
    }
    label{
        margin:0px;
    }
</style>

<div id="divkokomuTable" style="background-color:white;">
    <table class="table-bordered kokomuTable">


        <tbody>
            <tr>
                <td>
                    <label>GuestName</label>
                </td>
                <td><label>Aung Aung</label></td>
                <td>
                    <label>KanaName</label>
                </td>
                <td><label>Aung Aung</label></td>
            </tr>
            <tr>
                <td>
                    <label>ZipCode</label>
                </td>
                <td><label>1111</label></td>
                <td>
                    <label>Tel</label>
                </td>
                <td><label>3453453453</label></td>
            </tr>
            @*<tr>
                <td rowspan="2">
                    <label>Address</label>
                </td>
                <td colspan="3" id="tdAddress1">yangon</td>
            </tr>
            <tr>
                <td colspan="3" id="tdAddress2">lanmadaw</td>
            </tr>
            <tr>
                <td class="td1">
                    <label>Company</label>
                </td>
                <td colspan="3" id="tdCompany">Test</td>
            </tr>
            <tr>
                <td class="td1">
                    <label>Nationality</label>
                </td>
                <td class="td2" id="tdNationality">Test</td>
                <td class="td1">
                    <label>Passport</label>
                </td>
                <td class="td2" id="tdPassport">11111</td>
            </tr>
            <tr>
                <td class="td1">
                    <label>ArrivalDate</label>
                </td>
                <td class="td2" id="tdArrivalDate">12-11-2020</td>
                <td class="td1">
                    <label>DepartureDate</label>
                </td>
                <td class="td2" id="tdDepartureDate">12-11-2020</td>
            </tr>*@
        </tbody>

        <!--<tbody>
        <tr>
            <td class="td1">
                <label>GuestName</label>
            </td>
            <td class="td2" id="tdGuestName"><label>Aung Aung</label></td>
            <td class="td1">
                <label>KanaName</label>
            </td>
            <td class="td2" id="tdKanaName"><label>Aung Aung</label></td>
        </tr>
        <tr>
            <td class="td1">
                <label>ZipCode</label>
            </td>
            <td class="td2" id="tdZipCode"><label>1111</label></td>
            <td class="td1">
                <label>Tel</label>
            </td>
            <td class="td2" id="tdTel"><label>3453453453</label></td>
        </tr>-->
        @*<tr>
            <td rowspan="2">
                <label>Address</label>
            </td>
            <td colspan="3" id="tdAddress1">yangon</td>
        </tr>
        <tr>
            <td colspan="3" id="tdAddress2">lanmadaw</td>
        </tr>
        <tr>
            <td class="td1">
                <label>Company</label>
            </td>
            <td colspan="3" id="tdCompany">Test</td>
        </tr>
        <tr>
            <td class="td1">
                <label>Nationality</label>
            </td>
            <td class="td2" id="tdNationality">Test</td>
            <td class="td1">
                <label>Passport</label>
            </td>
            <td class="td2" id="tdPassport">11111</td>
        </tr>
        <tr>
            <td class="td1">
                <label>ArrivalDate</label>
            </td>
            <td class="td2" id="tdArrivalDate">12-11-2020</td>
            <td class="td1">
                <label>DepartureDate</label>
            </td>
            <td class="td2" id="tdDepartureDate">12-11-2020</td>
        </tr>*@
        <!--</tbody>-->
    </table>
</div>

<a id="btn-Convert-Html2Image" href="#">Download</a>
<br />
<div id="previewImage" style="display: none;">
</div>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
   
    $(document).ready(function () {
        var element = $("#divkokomuTable"); // global variable
        var getCanvas; // global variable

        html2canvas(element, {
            onrendered: function (canvas) {

                $("#previewImage").append(canvas);
                getCanvas = canvas;
            }
        });

        $("#btn-Convert-Html2Image").on('click', function () {
            var imgageData = getCanvas.toDataURL("image/png");
            var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
            $("#btn-Convert-Html2Image").attr("download", "your_pic_name.png").attr("href", newData);
        });
    });

</script>
