
@{
    ViewBag.Title = "GuestInformationList";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}


<style>
    .fake-input {
        position: relative;
        width: 74%;
    }

        .fake-input input {
            display: block;
            width: 100%;
            box-sizing: border-box
        }

        .fake-input img {
            position: absolute;
            top: 2px;
            right: 5px
        }

    .datepicker {
        top: 200px;
    }

    .row {
        margin-top: 15px;
    }
</style>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>ReservationNo :</label>
        </div>
        <div class="col-md-4">
            <label id="lblReservationNo"></label>
        </div>
        <div class="col-md-2">
            <label>Room No. :</label>
        </div>
        <div class="col-md-4">
            <label id="lblRoomNo"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Name Kanji :</label>
        </div>
        <div class="col-md-4">
            <label id="lblNameKanji"></label>
        </div>
        <div class="col-md-2">
            <label>Name Kana :</label>
        </div>
        <div class="col-md-4">
            <label id="lblNameKana"></label>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>ZipCode :</label>
        </div>
        <div class="col-md-4">
            <label id="lblZipCode"></label>
        </div>
        <div class="col-md-2">
            <label>Tel :</label>
        </div>
        <div class="col-md-4">
            <label id="lblTel"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Company :</label>
        </div>
        <div class="col-md-4">
            <label id="lblCompany"></label>
        </div>
        <div class="col-md-2">
            <label>Nationality :</label>
        </div>
        <div class="col-md-4">
            <label id="lblNationality"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Passport No. :</label>
        </div>
        <div class="col-md-4">
            <label id="lblPassportNo"></label>
        </div>
        <div class="col-md-2">
            <label>System Date :</label>
        </div>
        <div class="col-md-4">
            <label id="lblSystemDate"></label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Address1 :</label>
        </div>
        <div class="col-md-4">
            <label id="lblAddress1"></label>
        </div>
        <div class="col-md-2">
            <label>Address2 :</label>
        </div>
        <div class="col-md-4">
            <label id="lblAddress2"></label>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var CardRegisterInfo = { SystemID: $("#lblsystemid").text(), PmsID: $("#lblPmsId").text(), PmsPassword: $("#lblPmsPassword").text(), HotelCode: $("#lblhotelCode").text(), MachineNo: $("#lblmachineno").text() };
            var result = CalltoApiController('@Url.Action("getRegistrationCardData", "api/CardAPI/")', CardRegisterInfo);
           
            alert("Success" + result.Success);
            alert("Writing" + result.Writing);
            BindGuestInfo(result.success);
           
        });

        function BindGuestInfo(result) {
            alert(result.SystemDate);
        }

    </script>
}


