
@{
    ViewBag.Title = "GuestInformationNew";
    Layout = "~/Views/Shared/_HotelSystemLayout.cshtml";
}
<link href="@Url.Content("~/Content/hotel.css")" rel="stylesheet" />

<style>
    .fake-input {
        position: relative;
        width: 74%;
    }

        .fake-input input {
            display: block;
            width: 100%;
            box-sizing: border-box
        }

        .fake-input img {
            position: absolute;
            top: 2px;
            right: 5px
        }

    .datepicker {
        top: 200px;
    }
    
    .row {
        margin-top: 15px;
    }
</style>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>System ID :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtSystemID" />
        </div>
        <div class="col-md-2">
            <label>Pms ID :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtPmsID" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Pms Password :</label>
        </div>
        <div class="col-md-4">
            <input type="password" id="txtPmsPassword" />
        </div>
        <div class="col-md-2">
            <label>Hotel Code :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtHotelCode" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Machine No. :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtMachineNo" />
        </div>
        <div class="col-md-2">
            <label>System Date :</label>
        </div>
        <div class="col-md-3 col-sm-7">
            <div class="fake-input">
                <input type="text" id="txtSystemDate" class="datepicker-here" /><img id="systemdate" src="~/images/calendar.png" width=25 />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Reservation No. :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtReservationNo" />
        </div>
        <div class="col-md-2">
            <label>Room No. :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtRoomNo" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Name Kanji :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtNameKanji" />
        </div>
        <div class="col-md-2">
            <label>Name Kana :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtNameKana" />
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Arrive Date :</label>
        </div>
        <div class="col-md-3 col-sm-7">
            <div class="fake-input">
                <input type="text" id="txtArriveDate" class="datepicker-here" /><img id="arrivaldate" src="~/images/calendar.png" width=25 />
            </div>
        </div>
        <div class="col-md-2 offset-md-1">
            <label>Departure Date :</label>
        </div>
        <div class="col-md-3  col-sm-7">
            <div class="fake-input">
                <input type="text" id="txtDepartureDate" class="datepicker-here" /><img id="departuredate" src="~/images/calendar.png" width=25 />
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>ZipCode :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtZipCode" />
        </div>
        <div class="col-md-2">
            <label>Tel :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtTel" />
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Company :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtCompany" />
        </div>
        <div class="col-md-2">
            <label>Nationality :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtNationality" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Passport No. :</label>
        </div>
        <div class="col-md-4">
            <input type="text" id="txtPassportNo" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Address1 :</label>
        </div>
        <div class="col-md-4">
            <textarea id="txtAddress1"></textarea>            
        </div>
        <div class="col-md-2">
            <label>Address2 :</label>
        </div>
        <div class="col-md-4">
            <textarea id="txtAddress2"></textarea>           
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <button type="button" id="btnSave" class="clsbtnSearch">Save</button>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {

            var currentDate = new Date();
            $("#txtArriveDate").val(moment(currentDate).format('YYYY/MM/DD'));
            $("#txtSystemDate").val(moment(currentDate).format('YYYY/MM/DD'));

            var dtDepartureDate = currentDate.setDate(currentDate.getDate() + 1);           
            $("#txtDepartureDate").val(moment(dtDepartureDate).format('YYYY/MM/DD'));
            
            $("#arrivaldate").click(function () {
                $("#txtArriveDate").focus();
            });

            $("#departuredate").click(function () {
                $("#txtDepartureDate").focus();
            });

            $("#systemdate").click(function () {
                $("#txtSystemDate").focus();
            });            

            $("#btnSave").click(function () {
                var GuestInformation = { SystemID: $("#txtSystemID").val(), PmsID: $("#txtPmsID").val(), PmsPassword: $("#txtPmsPassword").val(), MachineNo: $("#txtMachineNo").val(), HotelCode: $("#txtHotelCode").val(), ReservationNo: $("#txtReservationNo").val(), RoomNo: $("#txtRoomNo").val(), SystemDate: $("#txtSystemDate").val(), NameKanji: $("#txtNameKanji").val(), NameKana: $("#txtNameKana").val(), ZipCode: $("#txtZipCode").val(), Tel: $("#txtTel").val(), Address1: $("#txtAddress1").val(), Address2: $("#txtAddress2").val(), Company: $("#txtCompany").val(), Nationality: $("#txtNationality").val(), PassportNo: $("#txtPassportNo").val(), ArriveDate: $("#txtArriveDate").val(), DepartureDate: $("#txtDepartureDate").val() };
                var response = CalltoApiController('@Url.Action("requestForRegistrationCard", "api/CardAPI/")', GuestInformation);
                if (response["Status"] == "Success")
                    ShowAlert("success", "Guest Information", "Successfully Saved...");                                   
                else
                    ShowAlert("error","Guest Information", response["Status"]);                    
                
             });
        });

    </script>
}

