
@{
    ViewBag.Title = "Guest_InformationNew";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<div class="row">
    <div class="col-md-6"><table>
    <tr>
        <td>
            <label>SystemID</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>PmsID</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>PmsPassword</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>HotelCode</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>MachineNo</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>SystemDate</label>
        </td>
        <td>
            <input type="date"  />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>ReservationNo</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>RoomNo</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>ArriveDate</label>
        </td>
        <td>
            <input type="date" />
        </td>
        <td>
            <label>DepartureDate</label>
        </td>
        <td>
            <input type="date" />
        </td>
    </tr>
   
    <tr>
        <td>
            <label>NameKanji</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>NameKana</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
   
    <tr>
        <td>
            <label>ZipCode</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>Tel</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
   
    <tr>
        <td>
            <label>Address1</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>Address2</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>Company</label>
        </td>
        <td>
            <input type="text" />
        </td>
        <td>
            <label>Nationality</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
    
    <tr>
        <td>
            <label>PassportNo</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
</table></div>
</div>
<br />
<div class="row">
    <div class="col-xl-12 text-center">
        <div class="text-s font-weight-bold text-custom1 text-uppercase mb-1">
            <button type="submit" id="btnSave" class="btn btn-success col-xl-2" tabindex="38"><i class="fa fa-save"></i>&nbsp; Save</button>
        </div>
    </div>
</div>

