
@{
    ViewBag.Title = "Guest_InformationList";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<section class="content">
    <div class="container-fluid" id="content_zip">
        <div class="row">
            <div class="table-responsive">
                <table id="tblGuestList" border="1">
                    <thead>
                        <tr>
                            <th>HotelCode</th>
                            <th>ReservationNo</th>
                            <th>RoomNo</th>
                            <th>SystemDate</th>
                            <th>GuestName</th>
                            <th>KanaName</th>
                            <th>ZipCode</th>
                            <th>Tel</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>Company</th>
                            <th>Nationality</th>
                            <th>PassportNo</th>
                            <th>ImageData</th>
                        </tr>
                    </thead>
                    <tbody ></tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {

            var CardRegisterInfo = { SystemID: "e-card", PmsID: "FMFS", PmsPassword: "Abc123#", HotelCode: "000001", MachineNo: "01" };
            var result = CalltoApiController('@Url.Action("getRegistrationCardData", "api/CardAPI/")', CardRegisterInfo);

            var response = result.Success;
            BindGuestInformationTable(response);
        });


        function BindGuestInformationTable(response) {
           
            table = $('#tblGuestList').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "ordering": false,
                destroy: true,
                scrollX: true,
                paging: false,
                "columns": [

                    { "data": "hotel_code", orderable: false },
                    { "data": "reservationno", orderable: false },
                    { "data": "roomno", orderable: false },
                    { "data": "systemdate", orderable: false },
                    { "data": "guestname_text", orderable: false},
                    { "data": "kananame_text", orderable: false },
                    { "data": "zipcode_text", orderable: false },
                    { "data": "tel_text", orderable: false },
                    { "data": "address1_text", orderable: false },
                    { "data": "address2_text", orderable: false},
                    { "data": "company_text", orderable: false },
                    { "data": "nationality_text", orderable: false},
                    { "data": "passportno_text", orderable: false },
                    { "data": "sign_filename", orderable: false },
                ]

                // "drawCallback": function (settings) {
                //    $("#tblGuestList thead").remove();
                //}
            });
        }
       
    </script>
}

