
@{
    ViewBag.Title = "Guest_InformationList";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}



<div class="col-md-12">
    <table id="tblGuestList" border="1">
        <thead>
            <tr>
                <th>HotelCode</th>
                <th>ReservationNo</th>
                <th>RoomNo</th>
                <th>SystemDate</th>
                <th>GuestName</th>
                <th>KanaName</th>
                <th>PostalCode</th>
                <th>PhNO</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>Workplace</th>
                <th>Nationality</th>
                <th>PassportNo</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {


            //var CardModel = { HotelCode: "000001"};
           //var result = CalltoApiController('@Url.Action("Get_HotelGuestInformation", "api/CardAPI/")', CardModel);
            var result = CalltoApiController('@Url.Action("Get_HotelGuestInformation", "api/CardAPI/")');
            if (result != "") {
                BindGuestInformationTable(result);
            }
        }); 


        function BindGuestInformationTable(response) {

            table = $('#tblGuestList').DataTable({

                data: JSON.parse(response),
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                "ordering": false,
                destroy: true,
                scrollX: true,
                paging: false,
                "columns": [
                    { "data": "hotel_code", orderable: false, "width": "13%" },
                    { "data": "reservationno", orderable: false, "width": "13%" },
                    { "data": "roomno", orderable: false, "width": "13%" },
                    { "data": "systemdate", orderable: false, "width": "13%" },
                    { "data": "guestname_hotel", orderable: false, "width": "13%" },
                    { "data": "kananame_hotel", orderable: false, "width": "13%" },
                    { "data": "postalcode_hotel", orderable: false, "width": "13%" },
                    { "data": "phoneno_hotel", orderable: false, "width": "13%" },
                    { "data": "address1_hotel", orderable: false, "width": "13%" },
                    { "data": "address2_hotel", orderable: false, "width": "13%" },
                    { "data": "workplace_hotel", orderable: false, "width": "13%" },
                    { "data": "nationality_hotel", orderable: false, "width": "13%" },
                    { "data": "passportno_hotel", orderable: false, "width": "13%" },
                ]

            });
        }
        
    </script>
}

