
@{
    ViewBag.Title = "Hotel_System";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
    //var lang = HttpContext.Current.Request.Cookies["culture"].Value;
}

<section class="content">
    <div class="container-fluid" id="content_zip">

        <div class="row">
            <div class="col-xl-12 col-md-12 mb-2">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tbhotel" class="hrtable col-sm-12 col-md-12" border="1">
                                <thead>
                                    <tr>
                                        <th>ReservationNo:</th>
                                        <th>RoomNo:</th>
                                        <th>ArriveDate:</th>
                                        <th>DepartureDate:</th>
                                        <th>NameKanji:</th>
                                        <th>NameKana:</th>
                                        <th>ZipCode:</th>
                                        <th>Tel:</th>
                                        <th>Address1:</th>
                                        <th>Address2:</th>
                                        <th>Company:</th>
                                        <th>Nationality:</th>
                                        <th>PassportNo:</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 text-center">
            <button type="submit" onclick="btnRegisterClick()" id="btnSave" class="btn btn-success col-xl-2" tabindex="38"><i class="fa fa-save"></i>&nbsp; Register</button>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

           
            var result = CalltoApiController('@Url.Action("GuestInformation", "api/HotelAPI/")');
            if (result != "") {
               
                var info = "<tr><td>" + result[0].reservationno + "</td><td>" + result[0].roomno + "</td><td>" + moment(result[0].arrivaldate).format('YYYY-MM-DD') + "</td><td>" + moment(result[0].departuredate).format('YYYY-MM-DD')+ "</td><td>"
                    + result[0].guestname + "</td><td>" + result[0].kananame + "</td><td>" + result[0].postalcode + "</td><td>" + result[0].phoneno + "</td><td>" + result[0].address1 + "</td><td>"
                    + result[0].address2 + "</td><td>" + result[0].workplace + "</td><td>" + result[0].nationality + "</td><td>" + result[0].passportno + "</td><td>" + "</tr > ";
                $('#tbhotel tbody').append(info);
            }
        });

        function btnRegisterClick() {
        location.href = '@Url.Action("CardRegisterPage", "Card")';
        }
    </script>

}
