
@{
    ViewBag.Title = "Hotel_GuestList";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}



<div class="row" style="display:flex ">
    <div class="col-md-12">
        <label class="col-xl-2">ArrivalDate</label>
        <input type="text" />
        ~
        <input type="text" />
        <button type="submit">Search</button>
        <button type="submit">Clear</button>
    </div>
    <div class="col-md-12">
        <label class="col-xl-2">Checkin-Room</label>
        <input type="text" />
    </div>
    <div class="col-md-12">
        <label class="col-xl-2">GuestName</label>
        <input type="text" />
    </div>
</div>

@*<div class="row col-md-12" style="padding-bottom:20px;">
    <table>
        <tr>
            <td>
                <label>Arrival Date</label>
            </td>
            <td>
                <input type="text" />
            </td>
            <td style="padding-right:20px;">
                <label>~</label>
            </td>
            <td style="padding-right:50px;">
                <input type="text" />
            </td>
            <td style="padding-right:60px;">
                <button type="submit">Search</button>
            </td>
            <td>
                <button type="submit">Clear</button>
            </td>
        </tr>
        <tr>
            <td>
                <label>Check-in Room</label>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>GuestName</label>
            </td>
            <td>
                <input type="text" />
            </td>
        </tr>
    </table>
</div>*@    

<div class="row col-md-12">
    <div class="table-responsive">
        <table id="tblHotel_guestlist" border="1">
            <thead>
                <tr>
                    <th>ArrivalDate</th>
                    <th>DepartureDate</th>
                    <th>RoomNo</th>
                    <th>GuestName(Kanji</th>
                    <th>GuestName(Kana)</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


