
@{
    ViewBag.Title = "Hotel_GuestList";
    Layout = "~/Views/Shared/_HotelSystemLayout.cshtml";
}

<link href="~/Content/hotel.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Arrival Date :</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="dtpArrivalFromDate" class="datepicker-here" />&emsp;<span>~</span>&emsp;<input type="text" id="dtpArrivalToDate" class="datepicker-here" />
        </div>
        <div class="col-md-2">
            <button type="button" id="btnSearch" class="clsbtnSearch">Search</button>
        </div>
        <div class="col-md-2 offset-md-1">
            <button type="button" id="btnClear" class="clsbtnClear">Clear</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2">
            <label>Check-in Room :</label>
        </div>
        <div class="col-md-2">
            <input type="text" id="txtCheckinRoom" maxlength="4" onkeypress="return isNumber(event)" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12  form-inline">
        <div class="col-md-2">
            <label>Guest Name :</label>
        </div>
        <div class="col-md-5">
            <input type="text" id="txtGuestName" style="width:95%;max-width:100%" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="tblhotelguestlist" border="1" style="width:100%;">
            <thead>
                <tr>
                    <th>ArrivalDate</th>
                    <th>DepartureDate</th>
                    <th>RoomNo</th>
                    <th>GuestName(Kanji</th>
                    <th>GuestName(Kana)</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<div id="showImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">           
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                      <img id="imgImage" class="col-md-12"/>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

@section Scripts{    
    <script>
        $(document).ready(function () {
           

            //date compare check
            $("#dtpArrivalToDate").datepicker({
                format: 'YYYY-MM-DD',
                todayHighlight: true,
                onSelect: function (dateText, inst) {
                    var fromdate = new Date($('#dtpArrivalFromDate').val());
                    var todate = new Date($('#dtpArrivalToDate').val());
                    if (todate < fromdate)
                        ShowError("ToDate must be less than FromDate");
                }
            })

            //if select arrival date again greater than departure date
            $("#dtpArrivalFromDate").datepicker({
                format: 'YYYY-MM-DD',
                todayHighlight: true,
                onSelect: function (dateText, inst) {
                    var fromdate = new Date($('#dtpArrivalFromDate').val());
                    var todate = new Date($('#dtpArrivalToDate').val());
                    if (fromdate < todate)
                        $("#dtpArrivalToDate").val("");
                }
            })

            var currentDate = new Date();
            //set current date into arrival date
            $("#dtpArrivalFromDate").val(moment(currentDate).format('YYYY-MM-DD'));
            $("#dtpArrivalToDate").val(moment(currentDate).format('YYYY-MM-DD'));

           

            //fill guest information
            SearchData();

            $("#btnSearch").click(function () {
                if (CheckValidate()) {
                 
                    SearchData();
                }
        });

            $("#btnClear").click(function () {
                var currentDate = new Date();
                $("#dtpArrivalFromDate").val(moment(currentDate).format('YYYY-MM-DD'));
                $("#dtpArrivalToDate").val(moment(currentDate).format('YYYY-MM-DD'));
                $("#txtCheckinRoom").val("");
                $("#txtGuestName").val("");
            });

            //show image on table's row click event
            $('#tblhotelguestlist tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                if (data["imagedata"] != null) {
                    var imagePath = "/" + data["hotel_code"] + "/" + data["imagedata"];
                    $("#imgImage").attr('src', imagePath);
                    $("#showImageModal").modal('show');
                }
            });
        });

        function SearchData() {
              var guestinfo = {
                    ArrivalFromDate: $("#dtpArrivalFromDate").val(),
                    ArrivalToDate: $("#dtpArrivalToDate").val(),
                    RoomNo: $("#txtCheckinRoom").val(),
                    GuestName: $("#txtGuestName").val()
                 }
                var result= CalltoApiController('@Url.Action("searchGuestData", "api/HotelAPI/")', guestinfo)
                BindGuestTable(result);

          
        }

        function BindGuestTable(result) {
            table = $('#tblhotelguestlist').DataTable({
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                destroy: true,
                scrollX: true,
                paging: false,
                data: result,
                "columns": [
                    { "data": "arrival_date"},
                    { "data": "departure_date" },
                    { "data": "roomno" },
                    { "data": "guestname_text" },
                    { "data": "kananame_text"},
                    { "data": "address"},
                ],
                "columnDefs": [{
                    "targets": [0,1],
                    "data": "",
                    "render": function (data) {
                        return moment(data).format("YYYY-MM-DD");
                    }
                }]
            });
        }


        //auto complete zero fill in checkin roomno
        $('#txtCheckinRoom').on('keydown', function (e) {
            if (e.keyCode == 13 || e.keyCode == 9) {
                str = $('#txtCheckinRoom').val();
                str = str.toString();
                if (str.length < 4) {
                    var roomno = str.padStart(4, '0');
                    $('#txtCheckinRoom').val(roomno);
                }
            }
        });

        //validation
        function CheckValidate() {
            var flag = true;

            str = $('#txtCheckinRoom').val();
            if (str != "") {
                str = str.toString();
                if (str.length < 4) {
                    ShowError("Please Check Your Check-in Room");
                }
                else
                    flag = true;
            }
            return flag;
        }

        //number only
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}



