
@{
    ViewBag.Title = "Hotel_GuestList";
    string obj = Session["HotelLoginInfo"].ToString();
    string hotelcode = string.Empty;
    string usercode = string.Empty;
    string username = string.Empty;

    if (obj != null)
    {
        hotelcode = obj.Split('_')[0];
        usercode = obj.Split('_')[1];
        username = obj.Split('_')[2];
    }
   
}



<div class="row" style="display:flex ">
    <div class="col-md-12">
        <label class="col-xl-2">ArrivalDate</label>
        <input type="text" id="dtpArrivalDate" class="datepicker-here" />
        ~
        <input type="text" id="dtpDepartureDate" class="datepicker-here" />
        <button type="button" id="btnSearch">Search</button>
        <button type="button" id="btnClear">Clear</button>
    </div>
    <div class="col-md-12">
        <label class="col-xl-2">Checkin-Room</label>
        <input type="text" id="CheckinRoom" maxlength="4"  />
    </div>
    <div class="col-md-12">
        <label class="col-xl-2">GuestName</label>
        <input type="text" id="GuestName" />
    </div>
</div>



<div class="row col-md-12">
    <div class="table-responsive">
        <table id="tblHotel_guestlist" border="1" width="100%">
            <thead>
                <tr>
                    <th>ArrivalDate</th>
                    <th>DepartureDate</th>
                    <th>RoomNo</th>
                    <th>GuestName(Kanji</th>
                    <th>GuestName(Kana)</th>
                    <th>Address</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
   
    <script>
        $(document).ready(function () {

            var currentDate = new Date();
            //set current date into arrival date
            $("#dtpArrivalDate").val(moment(currentDate).format('YYYY-MM-DD'));
            $("#dtpDepartureDate").val(moment(currentDate).format('YYYY-MM-DD'));
            SearchData();
        });

        $("#btnSearch").click(function () {
            SearchData();
        });

        $("#btnClear").click(function () {
            $("#CheckinRoom").val(""),
            $("#GuestName").val(""),
            $("#GuestName").val("")
        });

        function SearchData() {

            var cardinfo = {
                ArrivalDate: $("#dtpArrivalDate").val(),
                //RoomNo: $("#CheckinRoom").val(),
                //GuestName: $("#GuestName").val(),
                //KanaName: $("#GuestName").val()
            }

            var result = CalltoApiController("/api/HotelAPI/Search_GuestData", cardinfo);
           
            if (result.length > 0) {
                BindGuestTable(result);
            }
        }

        function BindGuestTable(result) {

            table = $('#tblHotel_guestlist').DataTable({

                data: result,
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                destroy: true,
                scrollX: true,
                paging: false,
                "columns": [

                    { "data": "arrival_date"},
                    { "data": "departure_date" },
                    { "data": "roomno" },
                    { "data": "guestname_text" },
                    { "data": "kananame_text"},
                    { "data": "address"},
                ]
            });

        }

    </script>
}



