
@{
    ViewBag.Title = "HotelGuestList";
    Layout = "~/Views/Shared/_HotelSystemLayout.cshtml";
}
<link href="@Url.Content("~/Content/hotel.css")" rel="stylesheet" />

<style>
    .center{
        text-align:center;
        margin-bottom:-10px;
    }
    .size{
        font-size:20px;
    }
</style>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2 col-sm-4">
            <label>到着日 :</label>
        </div>
        <div class="col-md-5 col-sm-12">
            <table>
                <tr>
                    <td width="45%">
                        <div class="fake-input">
                            <input type="text" id="dtpArrivalFromDate" class="datepicker-here" /><img id="fromdate" src="~/images/calendar.png" width=25 />
                        </div>
                    </td>
                    <td style="text-align:center">
                        <span>~</span>
                    </td>
                    <td width="45%">
                        <div class="fake-input">
                            <input type="text" id="dtpArrivalToDate" class="datepicker-here" /><img id="todate" src="~/images/calendar.png" width=25 />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2 col-sm-4">
            <button type="button" id="btnSearch" class="clsbtnSearch">検 索</button>
        </div>
        <div class="col-md-1 offset-md-2 col-sm-4">
            <button type="button" id="btnClear" class="clsbtnClear">クリア</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2 col-sm-4">
            <label>チェックイン部屋 :</label>
        </div>
        <div class="col-md-2 col-sm-3">
            <input type="text" id="txtCheckinRoom" onkeypress="return isNumber(event)" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="col-md-2  col-sm-4">
            <label>宿泊者名 :</label>
        </div>
        <div class="col-md-5 col-sm-8">
            <input type="text" id="txtGuestName" style="width:100%;max-width:100%" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="tblhotelguestlist" border="1" class="table table-striped table-bordered" style="width:100%;table-layout:fixed;">
            <thead>
                <tr>
                    <th>到着日</th>
                    <th>出発日</th>
                    <th>部屋番号</th>
                    <th>宿泊者名（漢字）</th>
                    <th>宿泊者名（カナ）</th>
                    <th>住所</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="showImageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <img id="imgImage" class="col-md-12" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
          
            //if select arrival date again greater than departure date
            $("#dtpArrivalFromDate").datepicker({
                format: 'YYYY/MM/DD',
                todayHighlight: true,
                onSelect: function (dateText, inst) {                    
                    var fromdate = new Date($('#dtpArrivalFromDate').val());
                    var todate = new Date($('#dtpArrivalToDate').val());
                    if (todate < fromdate) {
                        $("#dtpArrivalFromDate").val(moment(dateText).format('YYYY/MM/DD'));
                        //ShowAlert("error", "Guest List", "ToDate must be greater than FromDate");
                        ShowAlert("error","", "到着日(to) は 到着日(from) より遅ければなりません。");
                    }                       
                    else
                        $("#dtpArrivalFromDate").val(moment(dateText).format('YYYY/MM/DD'));
                }
            });

            //date compare check
            $("#dtpArrivalToDate").datepicker({
                format: 'YYYY/MM/DD',
                todayHighlight: true,
                onSelect: function (dateText, inst) {
                    var fromdate = new Date($('#dtpArrivalFromDate').val());
                    var todate = new Date($('#dtpArrivalToDate').val());                   
                    if (todate < fromdate)
                        ShowAlert("error","","到着日(to) は 到着日(from) より遅ければなりません。");
                    else
                        $("#dtpArrivalToDate").val(moment(dateText).format('YYYY/MM/DD'));
                }
            });

            var currentDate = new Date();
            //set current date into arrival date
            $("#dtpArrivalFromDate").val(moment(currentDate).format('YYYY/MM/DD'));
            $("#dtpArrivalToDate").val(moment(currentDate).format('YYYY/MM/DD'));


            $("#btnSearch").click(function () {
                SearchData();
            });

            $("#btnClear").click(function () {
                var currentDate = new Date();
                $("#dtpArrivalFromDate").val(moment(currentDate).format('YYYY/MM/DD'));
                $("#dtpArrivalToDate").val(moment(currentDate).format('YYYY/MM/DD'));
                $("#txtCheckinRoom").val("");
                $("#txtGuestName").val("");
            });

            //show image on table's row click event
            $('body').delegate('#tblhotelguestlist tbody tr', 'click', function () {
                var data = table.row(this).data();
                if (data["imagedata"] != null) {
                    //var imagePath = '/' + data["hotel_code"] + "/" + data["imagedata"];
                    var response = CalltoApiController('@Url.Action("showImage", "api/CardAPI/")', { fileName: data["imagedata"], HotelCode: data["hotel_code"] });                   
                    $("#imgImage").attr('src', response);
                    //$("#imgImage").attr('src', imagePath);
                    $("#showImageModal").modal('show');
                }
            });

            $("#fromdate").click(function () {
                $("#dtpArrivalFromDate").val(moment($("#dtpArrivalFromDate").val()).format('YYYY/MM/DD'));
                $("#dtpArrivalFromDate").focus();
            });

            $("#todate").click(function () {
                $("#dtpArrivalToDate").val(moment($("#dtpArrivalToDate").val()).format('YYYY/MM/DD'));
                $("#dtpArrivalToDate").focus();
            });
        });

        function SearchData() {
              var guestinfo = {
                    ArrivalFromDate: $("#dtpArrivalFromDate").val(),
                    ArrivalToDate: $("#dtpArrivalToDate").val(),
                    RoomNo: $("#txtCheckinRoom").val(),
                    GuestName: $("#txtGuestName").val(),
                    HotelCode: $("#lblhotelcode").text()
                 }
            var result = CalltoApiController('@Url.Action("searchGuestData", "api/HotelAPI/")', guestinfo);
            BindGuestTable(result["Result"]);
        }

        function BindGuestTable(response) {

            table = $('#tblhotelguestlist').DataTable({
                "language": {
                    "emptyTable": " "
                },
                "bFilter": false,
                "bLengthChange": false,
                "bInfo": false,
                destroy: true,
                paging: false,
                data: response,
                "columns": [
                    { "data": "arrivaldate_hotel", "width": "10%","sClass":"center"},
                    { "data": "departure_date", "width": "10%", "sClass": "center"},
                    { "data": "roomno", "width": "11%", "sClass": "size"},
                    { "data": "guestname_text", "width": "17%", "sClass": "center"},
                    { "data": "kananame_text", "width": "17%", "sClass": "center"},
                    { "data": "address", "width": "30%", "sClass": "center"},
                ],
                "columnDefs": [{
                    "width": "10%",
                    "targets": [0,1],
                    "data": "",
                    "render": function (data) {
                        return moment(data).format("YYYY/MM/DD");
                    }
                },
                    {
                      "targets": 2,
                      "data": "roomno",
                      "render": function (data) {
                          return '<pre>' + data + '</pre>';
                      }
                    }
                ]
            });
        }

        //"John Doe's iPhone6".match(/([\s]+)/g).length
        //number only
        //function isNumber(evt) {
        //    evt = (evt) ? evt : window.event;
        //    var charCode = (evt.which) ? evt.which : evt.keyCode;
        //    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        //        return false;
        //    }
        //    return true;
        //}


        @*//auto complete zero fill in checkin roomno
        $('#txtCheckinRoom').on('keydown', function (e) {
            if (e.keyCode == 13 || e.keyCode == 9) {

                Hotelinfo = { RoomNo: $('#txtCheckinRoom').val(), HotelNo: $('#lblhotelcode').text()}

                var result = CalltoApiController('@Url.Action("CheckRoomNo", "api/HotelAPI/")', Hotelinfo);
                if (result != 'Error')
                    $('#txtCheckinRoom').val(result);
                else
                    ShowError(" RoomNo is not match!");

                //str = $('#txtCheckinRoom').val();
                //str = str.toString();
                //if (str.length < 4) {
                //    var roomno = str.padStart(4, '0');
                //    $('#txtCheckinRoom').val(roomno);
                //}
            }
        });*@

    </script>
}


