
@{
    ViewBag.Title = "test1";
    
}

<canvas id="cvsTest">
    <div id="divkokomuTable">
       
    </div>
</canvas>

    <button id="btnOK">OK</button>
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           
        });
    </script>
