
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_CardRegisterLayout.cshtml";
}

<div id="dvTable" style="width:340px;background-color:White;padding:5px">
    <u>Customer Records</u>
    <br />
    <br />
    <table cellspacing="0" rules="all" border="1" style="border-collapse: collapse;">
        <tr>
            <th scope="col" style="width: 90px;">
                Customer Id
            </th>
            <th scope="col" style="width: 120px;">
                Name
            </th>
            <th scope="col" style="width: 120px;">
                Country
            </th>
        </tr>
        <tr>
            <td>1</td>
            <td>John Hammond</td>
            <td>United States</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mudassar Khan</td>
            <td>India</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Suzanne Mathews</td>
            <td>France</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Robert Schidner</td>
            <td>Russia</td>
        </tr>
    </table>
</div>

<button>Ok</button>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            
        })
    </script>
}
